[Desktop Entry]
Version=0.1
Type=Application
Name=TikZ-TaK (calendar)
Comment=Create beautiful calendars using TikZ
Comment[pt_BR]=Crie calendários usando TikZ
Icon=/home/thiago/Dropbox/Programacao/java/Tikz-Tak/icons/tikz-tak.svg
Exec=TikZ-TaK
NoDisplay=false
Terminal=false
Categories=Utility;Office;
